      <g id="g7103" transform="translate(103.22191,183.76854)">
         <rect style="fill:#1a1a18;fill-opacity:1;stroke:none;stroke-width:0.929072;stroke-opacity:1" id="rect1014" width="39.244427" height="72.655228" x="833.42743" y="-103.50967" />
         <rect x="834.76965" y="-47.795387" width="36.560001" height="15.18" style="isolation:isolate;fill:#76bf5e;stroke:none;stroke-width:0.301472px;stroke-linecap:round;stroke-miterlimit:22.9256" id="rect1016" />
         <rect x="834.76965" y="-86.566727" width="18.280001" height="15.18" style="isolation:isolate;fill:#76bf5e;fill-opacity:1;stroke:none;stroke-width:0.213173px;stroke-linecap:round;stroke-miterlimit:22.9256" id="rect1018" />
         <rect x="834.76965" y="-101.74873" width="36.560001" height="15.18" style="isolation:isolate;fill:#005a23;fill-opacity:1;stroke:none;stroke-width:0.301472px;stroke-linecap:round;stroke-miterlimit:22.9256;stroke-opacity:1" id="rect1020" />
         <path d="M 834.84897,-47.876715 H 871.2314 V -71.305401 H 834.84897 Z" style="isolation:isolate;fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:#1a1a18;stroke-width:0.158656;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:22.9256;stroke-dasharray:none;stroke-opacity:1" id="path1022" />
         <g id="g1032" transform="translate(121.54961,-87.955387)">
            <circle cx="718.16504" cy="45.75" r="3.22" style="isolation:isolate;fill:#c6c6c6;stroke:#565655;stroke-width:0.301472px;stroke-miterlimit:22.9256" id="circle1024" />
            <circle cx="727.05499" cy="45.75" r="3.22" style="isolation:isolate;fill:#c6c6c6;stroke:#565655;stroke-width:0.301472px;stroke-miterlimit:22.9256" id="circle1026" />
            <circle cx="735.94501" cy="45.75" r="3.22" style="isolation:isolate;fill:#c6c6c6;stroke:#565655;stroke-width:0.301472px;stroke-miterlimit:22.9256" id="circle1028" />
            <circle cx="744.83502" cy="45.75" r="3.22" style="isolation:isolate;fill:#c6c6c6;stroke:#565655;stroke-width:0.301472px;stroke-miterlimit:22.9256" id="circle1030" />
         </g>
         <g id="g18071" transform="translate(-0.24998379)">
            <circle cx="839.71466" cy="-76.97673" r="3.22" style="isolation:isolate;fill:#c6c6c6;stroke:#565655;stroke-width:0.301472px;stroke-miterlimit:22.9256" id="circle1034" />
            <circle cx="848.60461" cy="-76.97673" r="3.22" style="isolation:isolate;fill:#c6c6c6;stroke:#565655;stroke-width:0.301472px;stroke-miterlimit:22.9256" id="circle1036" />
         </g>
         <rect x="837.12024" y="-70.092888" width="5.4499998" height="2.9200001" style="isolation:isolate;fill:#50af2c;stroke:#565655;stroke-width:0.301472px;stroke-miterlimit:22.9256" id="rect1039" />
         <rect x="845.92023" y="-70.092888" width="5.4499998" height="2.9200001" style="isolation:isolate;fill:#595959;fill-opacity:1;stroke:#565655;stroke-width:0.301472px;stroke-miterlimit:22.9256" id="rect1041" />
         <rect x="859.492" y="-70.092888" width="5.4499998" height="2.9200001" style="isolation:isolate;fill:#595959;fill-opacity:1;stroke:#565655;stroke-width:0.301472px;stroke-miterlimit:22.9256" id="rect1043" />
         <g id="g1053" transform="translate(146.99409,-48)">
            <rect x="690.1261" y="-3.9348702" width="5.4499998" height="2.9200001" style="isolation:isolate;fill:#e83a23;stroke:#565655;stroke-width:0.301472px;stroke-miterlimit:22.9256" id="rect1045" />
            <rect x="698.91608" y="-3.9348702" width="5.4499998" height="2.9200001" style="isolation:isolate;fill:#595959;stroke:#565655;stroke-width:0.301472px;stroke-miterlimit:22.9256" id="rect1047" />
            <rect x="707.71606" y="-3.9348702" width="5.4499998" height="2.9200001" style="isolation:isolate;fill:#ebff38;stroke:#565655;stroke-width:0.301472px;stroke-miterlimit:22.9256" id="rect1049" />
            <rect x="716.51611" y="-3.9348702" width="5.4499998" height="2.9200001" style="isolation:isolate;fill:#ffffff;stroke:#565655;stroke-width:0.301472px;stroke-miterlimit:22.9256" id="rect1051" />
         </g>
         <text transform="scale(0.98312466,1.017165)" style="font-weight:700;font-size:7.11323px;line-height:0.9;font-family:Arial-BoldMT, Arial;isolation:isolate;fill:#444444;stroke-width:0.983116" id="text1058" x="867.82672" y="-58.55217">
            <tspan sodipodi:role="line" id="tspan1055" x="867.82672" y="-58.55217" style="text-align:center;text-anchor:middle;stroke-width:0.983116">WB-MIR</tspan>
            <tspan sodipodi:role="line" x="867.82672" y="-52.150261" style="text-align:center;text-anchor:middle;stroke-width:0.983116" id="tspan26223">v.3</tspan>
         </text>
         <rect style="fill:#333333;fill-opacity:1;stroke:none;stroke-width:0.985549;stroke-opacity:1" id="rect18125" width="14.981825" height="15.158602" x="834.78375" y="-101.77918" />
         <circle style="fill:#404040;fill-opacity:1;stroke:none;stroke-width:1.79443;stroke-opacity:1" id="path19818" cx="842.27466" cy="-94.199883" r="4.776" />
         <rect style="fill:#404040;fill-opacity:1;stroke:#1b1919;stroke-width:0.28;stroke-dasharray:none;stroke-opacity:1" id="rect22243" width="18.1875" height="24.625" x="853.12323" y="-96.0625" />
         <rect style="fill:#404040;fill-opacity:1;stroke:#1b1919;stroke-width:0.282;stroke-dasharray:none;stroke-opacity:1" id="rect22245" width="10.90625" height="5.28125" x="856.76385" y="-101.34375" />
      </g>
