      <g id="g13269" transform="translate(-75.486186,170.76855)">
         <rect style="fill:#1a1a18;fill-opacity:1;stroke:none;stroke-width:0.929072;stroke-opacity:1" id="rect10266" width="39.244427" height="72.655228" x="756.42743" y="-90.509674" />
         <rect x="757.76965" y="-34.795387" width="36.560001" height="15.18" style="isolation:isolate;fill:#76bf5e;stroke:none;stroke-width:0.301472px;stroke-linecap:round;stroke-miterlimit:22.9256" id="rect3300-5" />
         <rect x="757.76965" y="-73.566727" width="36.560001" height="15.18" style="isolation:isolate;fill:#76bf5e;fill-opacity:1;stroke:none;stroke-width:0.301472px;stroke-linecap:round;stroke-miterlimit:22.9256" id="rect3300-5-4" />
         <rect x="757.76965" y="-88.748734" width="36.560001" height="15.18" style="isolation:isolate;fill:#005a23;fill-opacity:1;stroke:none;stroke-width:0.301472px;stroke-linecap:round;stroke-miterlimit:22.9256;stroke-opacity:1" id="rect3300-5-4-7" />
         <path d="m 757.84897,-34.876715 h 36.38245 v -23.428686 h -36.38245 z" style="isolation:isolate;fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:#1a1a18;stroke-width:0.158656;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:22.9256;stroke-dasharray:none;stroke-opacity:1" id="path322" />
         <g id="g10734" transform="translate(0.75024075,0.625)">
            <text xml:space="preserve" transform="rotate(-90)" style="font-variant:normal;font-weight:normal;font-size:5.87618px;font-family:Ubuntu;-inkscape-font-specification:Ubuntu-Regular;writing-mode:lr-tb;isolation:isolate;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.734518" id="text398" x="75.409172" y="765.91113"><tspan x="75.409172" y="765.91113" id="tspan396" style="stroke-width:0.734518">1</tspan></text>
            <text xml:space="preserve" transform="rotate(-90)" style="font-variant:normal;font-weight:normal;font-size:5.87618px;font-family:Ubuntu;-inkscape-font-specification:Ubuntu-Regular;writing-mode:lr-tb;isolation:isolate;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.734518" id="text402" x="75.62674" y="773.33087"><tspan x="75.62674" y="773.33087" id="tspan400" style="stroke-width:0.734518">2</tspan></text>
            <text xml:space="preserve" transform="rotate(-90)" style="font-variant:normal;font-weight:normal;font-size:5.87618px;font-family:Ubuntu;-inkscape-font-specification:Ubuntu-Regular;writing-mode:lr-tb;isolation:isolate;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.734518" id="text406" x="75.614922" y="780.17352"><tspan x="75.614922 79.563683 83.841545" y="780.17352" sodipodi:role="line" id="tspan404" style="stroke-width:0.734518">GND</tspan></text>
            <text xml:space="preserve" transform="rotate(-90)" style="font-variant:normal;font-weight:normal;font-size:5.87618px;font-family:Ubuntu;-inkscape-font-specification:Ubuntu-Regular;writing-mode:lr-tb;isolation:isolate;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.734518" id="text410" x="75.693581" y="786.00177"><tspan x="75.693581 79.007736" y="786.00177" sodipodi:role="line" id="tspan408" style="stroke-width:0.734518">5V</tspan></text>
            <text xml:space="preserve" transform="rotate(-90)" style="font-variant:normal;font-weight:normal;font-size:5.87618px;font-family:Ubuntu;-inkscape-font-specification:Ubuntu-Regular;writing-mode:lr-tb;isolation:isolate;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.734518" id="text414" x="75.656128" y="789.8999"><tspan x="75.656128 79.123062 82.495979" y="789.8999" sodipodi:role="line" id="tspan412" style="stroke-width:0.734518">out</tspan></text>
            <path d="m 773.97804,-79.409953 v -1.17641 c 0,-0.22939 -0.33693,-0.4164 -0.75045,-0.4164 h -11.64061 c -0.41346,0 -0.75037,0.18697 -0.75037,0.4164 v 1.17641" style="isolation:isolate;fill:none;stroke:#ffffff;stroke-width:0.4164;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:22.9256;stroke-dasharray:none;stroke-opacity:1" id="path416" />
            <text xml:space="preserve" style="font-variant:normal;font-weight:normal;font-size:4.40712px;font-family:Ubuntu;-inkscape-font-specification:Ubuntu-Regular;writing-mode:lr-tb;isolation:isolate;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.734518" id="text420" x="760.49518" y="-83.048645"><tspan x="760.49518 762.98077" y="-83.048645" sodipodi:role="line" id="tspan418" style="stroke-width:0.734518">1-</tspan></text>
            <text xml:space="preserve" style="font-variant:normal;font-weight:normal;font-size:4.40712px;font-family:Ubuntu;-inkscape-font-specification:Ubuntu-Regular;writing-mode:lr-tb;isolation:isolate;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.734518" id="text424" x="764.29852" y="-83.048645"><tspan x="764.29852" y="-83.048645" id="tspan422" style="stroke-width:0.734518">W</tspan></text>
            <text xml:space="preserve" style="font-variant:normal;font-weight:normal;font-size:4.40712px;font-family:Ubuntu;-inkscape-font-specification:Ubuntu-Regular;writing-mode:lr-tb;isolation:isolate;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.734518" id="text428" x="768.39233" y="-83.048645"><tspan x="768.39233 769.50739 771.2085" y="-83.048645" sodipodi:role="line" id="tspan426" style="stroke-width:0.734518">ire</tspan></text>
         </g>
         <g id="g10634" transform="translate(44.549612,-74.955387)">
            <circle cx="718.16504" cy="45.75" r="3.22" style="isolation:isolate;fill:#c6c6c6;stroke:#565655;stroke-width:0.301472px;stroke-miterlimit:22.9256" id="circle3310-2" />
            <circle cx="727.05499" cy="45.75" r="3.22" style="isolation:isolate;fill:#c6c6c6;stroke:#565655;stroke-width:0.301472px;stroke-miterlimit:22.9256" id="circle3312-5" />
            <circle cx="735.94501" cy="45.75" r="3.22" style="isolation:isolate;fill:#c6c6c6;stroke:#565655;stroke-width:0.301472px;stroke-miterlimit:22.9256" id="circle3314-4" />
            <circle cx="744.83502" cy="45.75" r="3.22" style="isolation:isolate;fill:#c6c6c6;stroke:#565655;stroke-width:0.301472px;stroke-miterlimit:22.9256" id="circle3316-7" />
         </g>
         <g id="g10634-4" transform="translate(44.549612,-109.72673)">
            <circle cx="718.16504" cy="45.75" r="3.22" style="isolation:isolate;fill:#c6c6c6;stroke:#565655;stroke-width:0.301472px;stroke-miterlimit:22.9256" id="circle3310-2-4" />
            <circle cx="727.05499" cy="45.75" r="3.22" style="isolation:isolate;fill:#c6c6c6;stroke:#565655;stroke-width:0.301472px;stroke-miterlimit:22.9256" id="circle3312-5-3" />
            <circle cx="735.94501" cy="45.75" r="3.22" style="isolation:isolate;fill:#c6c6c6;stroke:#565655;stroke-width:0.301472px;stroke-miterlimit:22.9256" id="circle3314-4-0" />
            <circle cx="744.83502" cy="45.75" r="3.22" style="isolation:isolate;fill:#c6c6c6;stroke:#565655;stroke-width:0.301472px;stroke-miterlimit:22.9256" id="circle3316-7-7" />
         </g>
         <g id="g13170" transform="translate(58.680399,-75.431872)">
            <rect x="701.43982" y="18.338985" width="5.4499998" height="2.9200001" style="isolation:isolate;fill:#50af2c;stroke:#565655;stroke-width:0.301472px;stroke-miterlimit:22.9256" id="rect3318-6" />
            <rect x="710.23981" y="18.338985" width="5.4499998" height="2.9200001" style="isolation:isolate;fill:#50af2c;stroke:#565655;stroke-width:0.301472px;stroke-miterlimit:22.9256" id="rect3320-8" />
            <rect x="719.02979" y="18.338985" width="5.4499998" height="2.9200001" style="isolation:isolate;fill:#595959;stroke:#565655;stroke-width:0.301472px;stroke-miterlimit:22.9256" id="rect3322-8" />
            <rect x="727.82977" y="18.338985" width="5.4499998" height="2.9200001" style="isolation:isolate;fill:#e83a23;stroke:#565655;stroke-width:0.301472px;stroke-miterlimit:22.9256" id="rect3324-4" />
         </g>
         <g id="g13221" transform="translate(69.994089,-35)">
            <rect x="690.1261" y="-3.9348702" width="5.4499998" height="2.9200001" style="isolation:isolate;fill:#e83a23;stroke:#565655;stroke-width:0.301472px;stroke-miterlimit:22.9256" id="rect3326-3" />
            <rect x="698.91608" y="-3.9348702" width="5.4499998" height="2.9200001" style="isolation:isolate;fill:#595959;stroke:#565655;stroke-width:0.301472px;stroke-miterlimit:22.9256" id="rect3328-1" />
            <rect x="707.71606" y="-3.9348702" width="5.4499998" height="2.9200001" style="isolation:isolate;fill:#ebff38;stroke:#565655;stroke-width:0.301472px;stroke-miterlimit:22.9256" id="rect3330-4" />
            <rect x="716.51611" y="-3.9348702" width="5.4499998" height="2.9200001" style="isolation:isolate;fill:#ffffff;stroke:#565655;stroke-width:0.301472px;stroke-miterlimit:22.9256" id="rect3332-9" />
         </g>
         <text transform="scale(0.98312466,1.017165)" style="font-weight:700;font-size:7.11323px;line-height:0.9;font-family:Arial-BoldMT, Arial;isolation:isolate;fill:#444444;stroke-width:0.983116" id="text3342-8" x="789.50507" y="-45.771553">
            <tspan sodipodi:role="line" id="tspan13117" x="789.50507" y="-45.771553" style="text-align:center;text-anchor:middle;stroke-width:0.983116">WB-M1W2</tspan>
            <tspan sodipodi:role="line" id="tspan13119" x="789.50507" y="-39.369644" style="text-align:center;text-anchor:middle;stroke-width:0.983116">v3</tspan>
         </text>
      </g>
