    <g id="g3575" transform="translate(-6,2)">
      <g id="Слой_11" data-name="Слой 11">
        <rect x="688.21002" y="56.040001" width="36.560001" height="118.65" style="fill:#a4ce99;stroke:#565655;stroke-width:0.301472px;stroke-linecap:round;stroke-miterlimit:22.9256" id="rect3292" />
        <rect x="688.21002" y="74.459999" width="36.560001" height="81.93" style="fill:#e55635;stroke:#565655;stroke-width:0.301472px;stroke-miterlimit:10" id="rect3294" />
        <rect x="688.21002" y="85.860001" width="36.560001" height="58.900002" style="fill:#fcfcfc;stroke:#565655;stroke-width:0.301472px;stroke-miterlimit:10" id="rect3296" />
        <rect x="688.21002" y="56.040001" width="36.560001" height="15.18" style="fill:#76bf5e;stroke:#565655;stroke-width:0.301472px;stroke-linecap:round;stroke-miterlimit:22.9256" id="rect3298" />
        <rect x="688.21002" y="159.63" width="36.560001" height="15.18" style="fill:#76bf5e;stroke:#565655;stroke-width:0.301472px;stroke-linecap:round;stroke-miterlimit:22.9256" id="rect3300" />
        <circle cx="693.23999" cy="66.480003" r="3.22" style="fill:#c6c6c6;stroke:#565655;stroke-width:0.301472px;stroke-miterlimit:22.9256" id="circle3302" />
        <circle cx="702.13" cy="66.480003" r="3.22" style="fill:#c6c6c6;stroke:#565655;stroke-width:0.301472px;stroke-miterlimit:22.9256" id="circle3304" />
        <circle cx="711.02002" cy="66.480003" r="3.22" style="fill:#c6c6c6;stroke:#565655;stroke-width:0.301472px;stroke-miterlimit:22.9256" id="circle3306" />
        <circle cx="719.90997" cy="66.480003" r="3.22" style="fill:#c6c6c6;stroke:#565655;stroke-width:0.301472px;stroke-miterlimit:22.9256" id="circle3308" />
        <circle cx="693.15002" cy="165.42" r="3.22" style="fill:#c6c6c6;stroke:#565655;stroke-width:0.301472px;stroke-miterlimit:22.9256" id="circle3310" />
        <circle cx="702.03998" cy="165.42" r="3.22" style="fill:#c6c6c6;stroke:#565655;stroke-width:0.301472px;stroke-miterlimit:22.9256" id="circle3312" />
        <circle cx="710.92999" cy="165.42" r="3.22" style="fill:#c6c6c6;stroke:#565655;stroke-width:0.301472px;stroke-miterlimit:22.9256" id="circle3314" />
        <circle cx="719.82001" cy="165.42" r="3.22" style="fill:#c6c6c6;stroke:#565655;stroke-width:0.301472px;stroke-miterlimit:22.9256" id="circle3316" />
        <rect x="690.03003" y="87.589996" width="5.4499998" height="2.9200001" style="fill:#50af2c;stroke:#565655;stroke-width:0.301472px;stroke-miterlimit:22.9256" id="rect3318" />
        <rect x="698.83002" y="87.589996" width="5.4499998" height="2.9200001" style="fill:#50af2c;stroke:#565655;stroke-width:0.301472px;stroke-miterlimit:22.9256" id="rect3320" />
        <rect x="707.62" y="87.589996" width="5.4499998" height="2.9200001" style="fill:#595959;stroke:#565655;stroke-width:0.301472px;stroke-miterlimit:22.9256" id="rect3322" />
        <rect x="716.41998" y="87.589996" width="5.4499998" height="2.9200001" style="fill:#e83a23;stroke:#565655;stroke-width:0.301472px;stroke-miterlimit:22.9256" id="rect3324" />
        <rect x="690.57001" y="140.03999" width="5.4499998" height="2.9200001" style="fill:#e83a23;stroke:#565655;stroke-width:0.301472px;stroke-miterlimit:22.9256" id="rect3326" />
        <rect x="699.35999" y="140.03999" width="5.4499998" height="2.9200001" style="fill:#595959;stroke:#565655;stroke-width:0.301472px;stroke-miterlimit:22.9256" id="rect3328" />
        <rect x="708.15997" y="140.03999" width="5.4499998" height="2.9200001" style="fill:#ebff38;stroke:#565655;stroke-width:0.301472px;stroke-miterlimit:22.9256" id="rect3330" />
        <rect x="716.96002" y="140.03999" width="5.4499998" height="2.9200001" style="fill:#ffffff;stroke:#565655;stroke-width:0.301472px;stroke-miterlimit:22.9256" id="rect3332" />
        <text transform="scale(1.0049876,0.99503717)" style="font-weight:700;font-size:7.27142px;font-family:Arial-BoldMT, Arial;fill:#27750b;stroke-width:1.00499" id="text3338" x="686.18524" y="99.418678">
          <tspan style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:Arial-BoldMT, Arial;-inkscape-font-specification:'Arial-BoldMT, Arial'" id="tspan3551">1-</tspan>
          <tspan x="692.64728" y="99.418678" style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:Arial-BoldMT, Arial;-inkscape-font-specification:'Arial-BoldMT, Arial';letter-spacing:-0.00881572em;stroke-width:1.00499" id="tspan3334">W</tspan>
          <tspan x="699.45105" y="99.418678" id="tspan3336" style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:Arial-BoldMT, Arial;-inkscape-font-specification:'Arial-BoldMT, Arial';stroke-width:1.00499">ire</tspan>
        </text>
        <text transform="scale(1.0049876,0.99503716)" style="font-weight:700;font-size:5.45356px;font-family:Arial-BoldMT, Arial;fill:#444444;stroke-width:1.00499" id="text3340" x="693.62115" y="138.29634">
          <tspan style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:Arial-BoldMT, Arial;-inkscape-font-specification:'Arial-BoldMT, Arial'" id="tspan6011">RS-485</tspan>
        </text>
        <text transform="matrix(1.01,0,0,1,688.82,114.16)" style="font-weight:700;font-size:7.23533px;font-family:Arial-BoldMT, Arial;fill:#444444" id="text3342">WB-M1W2</text>
      </g>
    </g>
